# Ignore target directories in all subprojects
**/target/

# Editor / OS
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.log

# Neovim / LazyVim specific
.swp
*.swo
*.bak
*.orig
.nvim/
target/
**/*.rs.bk
*.log
